<template>
  <footer class="max-w-screen-xl px-8 mx-auto">
    <div class="w-full border-y border-[#DDDDDD]">
      <div class="w-full flex flex-wrap space-y-6">
        <div
          class="w-full sm:w-1/2 xl:w-fit flex flex-col sm:flex-row sm:px-6 py-6 sm:py-12 sm:space-x-10 sm:border-r border-[#DDDDDD]"
        >
          <div class="sm:hidden xl:block mb-6 sm:mb-0">
            <a href="#">
              <img :src="require('~/assets/img/logo/Logo_main.png')" class="w-24 -mt-2" alt="Nefa Logo" />
            </a>
          </div>
          <ul class="space-y-4">
            <NavLink name="Home" url="#" />
            <NavLink name="About Automatika" url="#about" />
            <NavLink name="Contact" url="#contact" />
          </ul>
        </div>
        <div
          class="w-full sm:w-1/2 xl:w-fit sm:px-16 py-6 sm:py-12 border-t sm:border-t-0 xl:border-r border-[#DDDDDD]"
        >
          <ul class="space-y-4">
            <NavLink name="Partners" url="#partners" />
            <NavLink name="Team" url="#team" />
          </ul>
        </div>
        <div
          class="w-full sm:w-1/2 xl:w-fit sm:px-16 py-6 sm:py-12"
        >
          <ul class="space-y-4">
            <NavLink name="Technology" url="#technology" />
            <NavLink name="Deploy" url="#deploy" />
            <!-- <NavLink name="Contact" url="#contact" /> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="py-8 sm:py-4 text-center text-sm text-[#666666] hover:text-gray-900">
      &copy; Copyright 2022 <span class="text-header-gradient">Automatika</span> LLC. All rights reserved
    </div>
  </footer>
</template>
<script>
export default {
  name: 'BaseFooter',
}
</script>
