<template>
  <div class="w-full pt-6">
    <!-- Hero section -->
    <section id="hero" class="w-full pb-24">
      <BaseSection>
        <div class="col-span-12 lg:col-span-6 mt-12 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-center sm:text-left">
          <!-- <span data-aos="fade-right" data-aos-once="true" class="text-base text-gradient font-semibold uppercase"
            >Automatika Mobility</span
          > -->
          <h1
            data-aos="fade-right"
            data-aos-once="true"
            class="text-[2.5rem] sm:text-4xl xl:text-4xl font-bold leading-tight capitalize sm:pr-8 xl:pr-10"
          >
            AI for <span class="text-header-gradient">Social</span>, <span class="text-header-gradient">Cooperative</span> and <span class="text-header-gradient">Human-like</span> Navigation Technologies
          </h1>
          <p data-aos="fade-down" data-aos-once="true" data-aos-delay="300" class="paragraph hidden sm:block">
            Autonomous driving in unstructured and human-populated environments
          </p>
          <div
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-delay="700"
            class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-2"
          >
            <a href="mailto:contact@automatikamobility.com"><BaseButton
              class="max-w-full px-8 py-4 bg-gradient-to-r from-[#d95555] to-[#dd1f1f] border border-[#dd1f1f] text-white"
            >
              Let's Connect
            </BaseButton></a>
           <!--  <BaseButton
              class="max-w-full px-6 py-4 bg-inherit text-gradient border border-[#dd1f1f] flex items-center justify-center"
            >
              <span>Download App</span>
              <ChevronDownIcon :size="20" class="mt-1 text-[#dd1f1f]" />
            </BaseButton> -->
          </div>
        </div>
        <div class="hidden sm:block col-span-12 lg:col-span-6">
          <div class="w-full">
            <img
              data-aos="fade-up"
              data-aos-once="true"
              :src="require('~/assets/img/banner/taxi-ride.svg')"
              class="m-10"
              alt=""
            />
          </div>
        </div>
    <!--     <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-1.png')"
          class="hidden sm:block absolute bottom-12 xl:bottom-16 left-4 xl:left-0 w-6"
        />
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-2.png')"
          class="hidden sm:block absolute top-4 sm:top-10 right-64 sm:right-96 xl:right-[32rem] w-6"
        />
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-3.png')"
          class="hidden sm:block absolute bottom-56 right-24 w-6"
        />
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/star.png')"
          class="hidden sm:block absolute top-20 sm:top-28 right-16 lg:right-0 lg:left-[30rem] w-8"
        /> -->
      </BaseSection>
    </section>

    <!-- Crypto statistic section -->
<!--     <section
      class="max-w-screen-xl mx-2 sm:mx-auto px-4 sm:px-6 lg:px-0 py-6 pb-20 sm:py-8 rounded-[2.25rem] sm:rounded-xl bg-white shadow-lg sm:shadow-md transform lg:-translate-y-12"
    >
      <div class="w-full flex flex-col lg:flex-row items-center justify-center">
        <LandingCryptoStatistic
          data-aos="fade-up"
          title="🔥 Trending"
          :datasets="trendings"
          class="xl:border-r border-gray-200 lg:px-8"
        />
        <LandingCryptoStatistic
          data-aos="fade-up"
          data-aos-delay="150"
          title="🚀 Top Gainers"
          :datasets="topGainers"
          class="xl:border-r border-gray-200 lg:px-8"
        />
        <LandingCryptoStatistic
          data-aos="fade-up"
          data-aos-delay="300"
          title="💎 Recently Added"
          :datasets="recents"
          class="lg:px-8"
        />
      </div>
    </section> -->

        <!-- Partners section -->
    <section id="partners" class="bg-partner relative max-w-full sm:mx-6 my-24 shadow sm:rounded-2xl overflow-hidden">
      <div class="w-full px-6 sm:px-0 py-16 flex flex-col items-center justify-center space-y-4 text-center">
        <h3 data-aos="flip-down" class="text-2xl text-neutral-800 font-semibold">Partnerships and Collaborations</h3>
        <p data-aos="flip-down" class="paragraph">Automatika is born out of the premier research institute for computer science and AI in France</p>
        <div data-aos="fade-up" class="flex flex-wrap items-center justify-center">
          <LandingPartnerImage
            v-for="img in partnerImgs"
            :key="img.img"
            :img="img.img"
            :src="img.src"
          />
        </div>
      </div>
    </section>

    <!-- Credit card section -->
    <section id="about"  class="w-full my-36">
      <BaseSection data-aos="fade-down">
        <div class="col-span-12 lg:col-span-5">
          <div class="w-full">
            <img :src="require('~/assets/img/logo/Logo_main.png')" class="w-[75%]" alt=""/>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-7 space-y-6 px-4 sm:px-6 mt-20">
          <h2 class="text-4xl font-semibold">
            About <span class="text-header-gradient">Automatika</span>
          </h2>
          <p class="paragraph"><span class="text-header-gradient">Automatika</span> was founded in early 2022 by researchers in robotics, computer vision and AI. At <span class="text-header-gradient">Automatika</span> we are using the cutting edge technologies in perception, navigation and control to provide AI solutions to the challenges of autonomous navigation in inner-city environments and around pedestrians.</p>
          <ul class="space-y-4 sm:space-y-2">
            <LandingListItem title="Unstructured environments and shared spaces with pedestrians, cyclists etc." />
            <LandingListItem title="Social and cooperative autonomous driving approach" />
            <LandingListItem title="Robust modular autonomous driving pipeline" />
          </ul>
         <!--  <BaseButton
            class="w-full sm:max-w-[240px] px-10 py-4 bg-inherit text-gradient border border-[#0c66ee] text-base"
            >Join the waitlist</BaseButton
          > -->
        </div>
      </BaseSection>
    </section>

    <!-- Buy and trade section -->
    <section id="team" class="w-full my-24" >
      <BaseSection>
        <LandingBuyTradeImage class="sm:hidden mb-8" />
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 mt-4 xl:mt-20 space-y-6 px-4">
          <h2 class="text-4xl font-semibold sm:pr-8 xl:pr-12">
            Founders
          </h2>
          <p>We are a team of experienced researchers and deep-tech industry veterans, working on AI for autonomous vehicles for multiple years</p>
          <div class="space-y-2">
            <h4 class="text-2xl text-neutral-800 font-semibold"><a href="https://mariakabtoul.com/" target="_blank" class="hover:text-red-900 focus:outline-none focus:shadow-outline">Maria Kabtoul</a>, Founder, CEO</h4>
            <p class="paragraph text-sm xl:text-base">
              Specialized in robotics and control theory, Maria holds a doctorate in applied mathematics and has been working on proactive and socially aware navigation for self-driving cars in dense dynamic spaces shared with pedestrians, for multiple years
            </p>
          </div>
          <div class="space-y-2">
            <h4 class="text-2xl text-neutral-800 font-semibold">Haroon Rasheed, Co-Founder, CTO</h4>
            <p class="paragraph text-sm xl:text-base">
              Researcher in the fields of machine learning and physics-based simulation. Previous work includes eight plus years in strategy and management consulting, enterprise software development and technology consulting for startups
            </p>
          </div>
          <!-- <div class="space-y-6 lg:pr-12">
            <LandingExchange
              name="Amount"
              value="5.000"
              :exchange-selected="currencySelected"
              :exchanges="currencies"
            />
            <LandingExchange
              name="Get"
              value="0.10901"
              :exchange-selected="cryptoSelected"
              :exchanges="cryptocurrencies"
            />
            <BaseButton class="w-full px-5 py-4 bg-blue-gradient text-white text-base font-medium">Buy Now</BaseButton>
          </div> -->
          <div class="w-full px-6 sm:px-0 py-16 flex flex-col space-y-4">
          <h3 data-aos="flip-down" class="text-2xl text-neutral-800 font-semibold">Advisors</h3>
          <!-- <p data-aos="flip-down" class="paragraph">Bla Bla</p> -->
          <div data-aos="fade-up" class="flex flex-wrap">
           <div class="space-y-2">
            <h4 class="text-lg font-medium">Guillaume Chelius</h4>
            <p class="paragraph text-sm xl:text-base">
              Industry veteran with multiple successful startups
            </p>
          </div>
          </div>

          <div data-aos="fade-up" class="flex flex-wrap">
           <div class="space-y-2">
            <h4 class="text-lg font-medium">Philippe Broun</h4>
            <p class="paragraph text-sm xl:text-base">
              Partnerships, innovation and industrial collaborations
            </p>
          </div>
          </div>

        </div>

        </div>
        <LandingBuyTradeImage data-aos="fade-left" class="hidden sm:block" />
      </BaseSection>
    </section>



    <!-- Advanced trading tools section -->
    <section id="technology" class="bg-trading-tools relative max-w-full sm:mx-4 my-20 py-16 shadow rounded-2xl overflow-hidden">

      <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <!-- <LandingTradingToolImage class="sm:hidden" /> -->
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6 mt-8">
          <h2 class="text-4xl font-semibold"><span class="text-header-gradient">Automatika's</span> Technology</h2>
          <br>
        </div>
      </div>

      <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <LandingTradingToolImage class="sm:hidden" />
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6 mt-8">
          <div class="space-y-4">
            <h4 class="text-lg font-medium">Driving in Unstructured, Dynamic and Dense City-Centers</h4>
            <p class="paragraph text-sm xl:text-base">
              The current trend in autonomous driving technologies is focused on highways and structured roads where the system sparsely interacts with pedestrians. Good performance in such scenarios does not generalize to our chaotic city centers where the spaces can be less structured and even shared with pedestrians, cyclists etc.
              Autonomous driving in inner-city requires a new approach to the navigation task. At <span class="text-header-gradient">Automatika</span> we build navigation systems to enable autonomous driving in dense city-centers and in shared spaces with pedestrians. We develop specially designed perception/prediction models, planning/control systems and even evaluation and testing methods.
            </p>
          </div>

         <!--  <div class="flex flex-col sm:flex-row">
            <BaseButton class="px-10 py-4 bg-inherit text-gradient border border-[#4A8FF6] text-base">
              Get Started
            </BaseButton>
            <BaseButton class="bg-inherit text-[#4A8FF6] px-10 py-4 text-center underline rounded-full">
              Learn More
            </BaseButton>
          </div> -->
        </div>
        <LandingTradingToolImage data-aos="fade-left" class="hidden sm:block" />
      </div>

      <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
        <div class="sm:hidden col-span-12 lg:col-span-6 m-9 pt-6" v-bind="$attrs">
        <div class="w-full sm:mt-20 xl:mt-0">
          <img :src="require('~/assets/img/tech/frontal_test_pedsim.gif')" class="w-full" alt="" />
        </div>
      </div>
        <!-- <LandingTradingToolImage class="sm:hidden" /> -->
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6 mt-8">
          <div class="space-y-2">
            <h4 class="text-lg font-medium">Social and Cooperative Driving Approach</h4>
            <p class="paragraph text-sm xl:text-base">
              <span class="text-header-gradient">Automatika</span> adopts a social approach to the driving task to ensure a safe and human-like navigation around other road agents in dynamic urban spaces. Understanding the scene and the cooperative nature of human navigation is a key aspect in our navigation system. The AV's trajectory is planned in the space by dynamically interacting and proacting with other agents. This results in a ntural trajectory avoiding any blocking points and ensuring the safety and comfort of both the pedestrians and the passengers.
            </p>
          </div>
        </div>

        <div data-aos="fade-left" class="hidden sm:block col-span-12 lg:col-span-6 m-9 pt-6" v-bind="$attrs">
          <div class="w-full sm:mt-20 xl:mt-0">
            <img :src="require('~/assets/img/tech/frontal_test_pedsim.gif')" class="w-full" alt="" />
          </div>
        </div>
        <!-- <LandingTradingToolImage data-aos="fade-left" class="hidden sm:block" /> -->
      </div>

    </section>

    <!-- Industry-leading security section -->
    <section id="deploy" class="w-full my-24">
      <div class="relative max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-x-6">
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 -mt-8">
          <div class="w-full -mt-8 -pt-8">
            <img :src="require('~/assets/img/banner/ride-illustration.svg')" class="w-full" alt="" />
          </div>
        </div>
        <div data-aos="fade-left" class="col-span-12 lg:col-span-5 space-y-8 sm:space-y-6 mt-8 pt-6 xl:px-8">
          <h2 class="text-4xl font-semibold">Deploy Our Software and AI Solutions</h2>
          <ul class="space-y-10 sm:space-y-6">
            <LandingListItem title="Safety, robustness and compliance">
              <p class="text-sm text-gray-700 leading-relaxed">
                Our navigation system is developped in a modular pipline, boosting easy software packaging and integration.<br>
                Get in touch to deploly our solutions on your autonomous platform.
              </p>
            </LandingListItem>
            <!-- <LandingListItem title="Hardware security keys">
              <p class="text-sm text-gray-700 leading-relaxed">
                With NEFA you can secure your account with a hardware security key via WebAuthn.
              </p>
            </LandingListItem> -->
            <div
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-delay="700"
            class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-2"
          >
            <a href="mailto:contact@automatikamobility.com"><BaseButton
              class="max-w-full px-8 py-4 bg-gradient-to-r from-[#d95555] to-[#dd1f1f] border border-[#dd1f1f] text-white">
              Let's connect
            </BaseButton></a>
           <!--  <BaseButton
              class="max-w-full px-6 py-4 bg-inherit text-gradient border border-[#dd1f1f] flex items-center justify-center"
            >
              <span>Download App</span>
              <ChevronDownIcon :size="20" class="mt-1 text-[#dd1f1f]" />
            </BaseButton> -->
          </div>
          </ul>
        </div>
      </div>
    </section>

    <!-- Getting started section -->
<!--     <section class="bg-trading-tools relative max-w-full sm:mx-4 xl:mx-10 my-24 shadow sm:rounded-2xl overflow-hidden">
      <div class="w-full py-16 flex flex-col items-center">
        <h2 data-aos="flip-down" class="text-3xl sm:text-4xl font-semibold text-center">
          Get started in just a few minutes
        </h2>
        <div
          data-aos="fade-up"
          class="relative w-full flex flex-col lg:flex-row items-center justify-between space-y-12 lg:space-y-0 px-4 xl:px-10 mt-16 sm:mt-8"
        >
          <LandingStep v-for="step in steps" :key="step.title" :step="step" />
          <img
            :src="require('~/assets/img/getting-started/arrow.png')"
            class="hidden lg:inline-block absolute top-32 left-64 xl:left-[22rem] w-24 xl:w-[9.5rem]"
            alt=""
          />
          <img
            :src="require('~/assets/img/getting-started/arrow.png')"
            class="hidden lg:inline-block absolute top-32 right-64 xl:right-[22rem] w-24 xl:w-[9.5rem]"
            alt=""
          />
        </div>
      </div>
    </section> -->

    <!-- FAQ section -->
<!--     <section class="w-full my-24">
      <BaseSection>
        <div data-aos="fade-right" data-aos-delay="150" class="col-span-12 lg:col-span-6">
          <div class="w-full">
            <img :src="require('~/assets/img/faq.webp')" class="w-full" alt="" />
          </div>
        </div>
        <div data-aos="fade-left" data-aos-delay="150" class="col-span-12 lg:col-span-6 px-4 sm:px-6 mt-8">
          <span class="text-base text-gradient font-semibold uppercase mb-4 sm:mb-2">Support</span>
          <h2 class="text-3xl sm:text-4xl font-semibold mb-10 sm:mb-6">Frequently asked questions</h2>

          <ul class="shadow-box">
            <BaseAccordion v-for="(accordion, index) in accordions" :key="index" :accordion="accordion" />
          </ul>
        </div>
      </BaseSection>
    </section> -->

        <!-- contact card section -->
    <section id="contact"  class="w-full my-36">
      <BaseSection data-aos="fade-down">
        <div class="col-span-12 lg:col-span-7">
          <div class="w-full">
            <img :src="require('~/assets/img/banner/contact.svg')" class="w-[75%]" alt=""/>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-5 space-y-6 px-4 pt-20 sm:px-6 mt-20">
          <h2 class="text-4xl font-semibold">
            Contact
          </h2>
          <p class="paragraph"><span class="text-header-gradient">Automatika Mobility</span>
            <br>
          Inria Grenoble Rhône-Alpes<br>
          655 Av. de l'Europe, <br>
          38330 Montbonnot-Saint-Martin<br>
          France</p>
          <p class="paragraph"><span class="text-header-gradient"><a href="mailto:contact@automatikamobility.com">contact@automatikamobility.com</a></span></p>
        </div>
      </BaseSection>
    </section>

    <div class="w-full my-10 flex justify-center">
      <a
        v-smooth-scroll
        data-aos="flip-down"
        data-aos-delay="150"
        href="#navbar"
        class="px-6 py-3 flex items-center space-x-2 bg-[#FAFAFA] hover:bg-gray-100 hover:shadow-md border border-[#DDDDDD] rounded-md text-gray-700"
      >
        <span>Back to top</span>
        <ArrowUpIcon :size="20" />
      </a>
    </div>
  </div>
</template>

<script>
import aosMixin from '@/mixins/aos'
export default {
  name: 'IndexPage',
  mixins: [aosMixin],
  data() {
    return {
      selected: 0,
      dropdownConcurency: false,
      dropdownCrypto: false,
      partnerImgs: [{img: 'inria_logo.png',
                      src: 'https://www.inria.fr/fr'},
                      {img: 'startup_studio_logo.png',
                      src: 'https://www.inria.fr/fr/inria-startup-studio'}],
      currencySelected: {
        img: 'country-icon/eng.png',
        name: 'USD',
      },
      currencies: [
        {
          img: 'country-icon/eng.png',
          name: 'USD',
        },
      ],
      cryptoSelected: {
        img: 'crypto-icon/bitcoin.png',
        name: 'BTC',
      },
      cryptocurrencies: [
        {
          img: 'crypto-icon/bitcoin.png',
          name: 'BTC',
        },
      ],
      trendings: [
        {
          id: 1,
          name: 'Bitcoin',
          price: 43180.13,
          logo: 'bitcoin.png',
          increase: true,
          data: [40, 35, 60, 75, 60, 75, 50],
        },
        {
          id: 2,
          name: 'Ethereum',
          price: 3480.65,
          logo: 'ethereum.png',
          increase: false,
          data: [25, 30, 60, 50, 80, 55, 80],
        },
        {
          id: 3,
          name: 'Solana',
          price: 150.2,
          logo: 'solana.png',
          increase: true,
          data: [40, 45, 40, 80, 50, 60, 35],
        },
        {
          id: 4,
          name: 'Dogecoin',
          price: 0.1572,
          logo: 'dogecoin.png',
          increase: true,
          data: [35, 70, 60, 80, 50, 60, 40],
        },
      ],
      topGainers: [
        {
          id: 1,
          name: 'PAPPAY',
          price: 0.00374,
          logo: 'pappay.png',
          increase: true,
          data: [30, 50, 45, 60, 70, 40, 45],
        },
        {
          id: 2,
          name: 'Bitcoin Asia',
          price: 0.02096,
          logo: 'bitcoin-asia.png',
          increase: true,
          data: [25, 60, 50, 60, 35, 50, 70],
        },
        {
          id: 3,
          name: 'MoonRock',
          price: 0.004907,
          logo: 'moonrock.png',
          increase: true,
          data: [40, 35, 40, 25, 50, 70, 45],
        },
        {
          id: 4,
          name: 'NinjaFloki',
          price: 0.000123,
          logo: 'ninjafloki.png',
          increase: true,
          data: [45, 35, 40, 30, 25, 45, 35],
        },
      ],
      recents: [
        {
          id: 1,
          name: 'MetaCraft',
          price: 0.0608,
          logo: 'metacraft.png',
          increase: false,
          data: [40, 50, 45, 60, 35, 40, 45],
        },
        {
          id: 2,
          name: 'Frog',
          price: 0.5875,
          logo: 'frog.png',
          increase: false,
          data: [25, 50, 45, 48, 40, 60, 45],
        },
        {
          id: 3,
          name: 'Musk Doge',
          price: 0.04041,
          logo: 'musk-doge.png',
          increase: true,
          data: [25, 35, 60, 45, 50, 45, 45],
        },
        {
          id: 4,
          name: '2SHARE',
          price: 1366.24,
          logo: '2share.png',
          increase: true,
          data: [35, 30, 60, 50, 35, 45, 40],
        },
      ],
      accordions: [
        {
          title: 'Why should I choose NEFA?',
          description:
            "We're industry pioneers, having been in the cryptocurrency industry since 2016. We've facilitated more than 21 billion USD worth of transactions on our exchange for customers in over 40 countries. Today, we're trusted by over 8 million customers around the world and have received praise for our easy-to-use app, secure wallet, and range of features.",
        },
        {
          title: 'How secure is NEFA?',
          description:
            "We're industry pioneers, having been in the cryptocurrency industry since 2016. We've facilitated more than 21 billion USD worth of transactions on our exchange for customers in over 40 countries. Today, we're trusted by over million customers around the world and have received praise for our easy-to-use app, secure wallet, and range of features.",
        },
        {
          title: 'Do I have to buy a whole Bitcoin?',
          description:
            "We're industry pioneers, having been in the cryptocurrency industry since 2016. We've facilitated more than 21 billion USD worth of transactions on our exchange for customers in over 40 countries. Today, we're trusted by over million customers around the world and have received praise for our easy-to-use app, secure wallet, and range of features.",
        },
        {
          title: 'How do I actually buy Bitcoin?',
          description:
            "We're industry pioneers, having been in the cryptocurrency industry since 2016. We've facilitated more than 21 billion USD worth of transactions on our exchange for customers in over 40 countries. Today, we're trusted by over million customers around the world and have received praise for our easy-to-use app, secure wallet, and range of features.",
        },
      ],
      steps: [
        {
          img: 'sign-up.png',
          title: 'Sign Up',
          description:
            'Sign up for your free NEFA Wallet on web, iOS or Android and follow our easy process to set up your profile',
        },
        {
          img: 'fund.png',
          title: 'Fund',
          description:
            'Choose your preferred payment method such as bank transfer or credit card to top up your NEFA Wallet',
        },
        {
          img: 'buy-crypto.png',
          title: 'Buy Crypto',
          description:
            'Buy Bitcoin or Ethereum, then securely store it in your Wallet or send it on easily to your friends anywhere',
        },
      ],
    }
  },
}
</script>

<style scoped>
.text-header-gradient {
  background: rgb(221, 31, 31);
  background: linear-gradient(169.4deg, #d95555 -6.01%, #f73434 36.87%, #dd1f1f 78.04%, #0e65e8 103.77%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-partner {
  background: url('../assets/img/banner/banner-bg.svg');
  background-size: cover;
  background-position: center;
}
.bg-trading-tools {
  background: url('../assets/img/bg-trading-tools.webp');
  background-size: cover;
  background-position: center;
}
.max-h-0 {
  max-height: 0;
}
</style>
