<template>
  <div class="col-span-12 lg:col-span-6 mt-20 pt-20" v-bind="$attrs">
    <div class="w-[95%]">
    <slider animation="fade" height="490px" control-btn="false" touch="false" >
      <slider-item
        v-for="(i, index) in list"
        :key="index"
      >
      <!-- <img :src="require('~/assets/img/team/maria_auto.jpg')" class="mt-4 sm:-mt-4" alt="" /> -->
      <img :src="i"   alt="">
    </slider-item>
    </slider>
    </div>
  </div>
</template>

<script>
import { Slider, SliderItem } from 'vue-easy-slider'
export default {
  components: {
    Slider,
    SliderItem,
  },
  data(){
    return {
      list: [
        require('~/assets/img/team/maria_auto.jpg'),
        require('~/assets/img/team/maria.jpg'),
      ],
    }
  }
}
</script>
